* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    color: #333;
    min-width: 1200px;
    overflow-x: scroll;
    background-color: #f9f9f9;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
    box-shadow: 0 1px 2px 0 #a4a4a4;
    margin-bottom: 20px;
    background-color: #fff;
}

table {
    border-spacing: 2px;
    margin-top: 20px;
}

table input {
    padding: 12px;
    font-size: 14px;
    border: 1px solid #c8c8c8;
    width: 220px;
    outline: none;
    transition: all .25s;
}

.uploader-wrap {
    position: relative;
}

.uploader-wrap:hover:after {
    content: 'Max file size: ' attr(data-size) 'KB';
    position: absolute;
    bottom: 120%;
    left:0;
    font-size: 12px;
    background-color: #fff;
    padding: 8px;
    box-shadow: 0 1px 2px 0 #a4a4a4;
}

table th input {
    font-weight: 600;
}

table input:focus {
    background-color: #F0F8FF;
}

table input.is-error {
    background-color: #FF9494;
}

.chart {
    position: fixed;
    top: 115px;
    right: 50px;
}

.highcharts-background {
    fill: transparent;
}

.table-wrap {
    margin-left: 60px;
}

.table-head {
    display: flex;
}

.exporter {
    font-size: 13px;
    font-weight: bold;
    color: #308014;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
}

.exporter:before {
    content: '⇩ ';
}

@media screen and (max-width: 1200px) {
    .chart {
        position: absolute;
        right: auto;
        left: 550px;
    }
}
